# Dependencies
node_modules/

# Build
dist/
public/vad/
dist-ssr/
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# Test
coverage/
playwright-report/
test-results/
.lighthouseci/

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
